<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Nukkad Delivery Partner</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>driver_app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Images will be used for profile and item submissions</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location is captured to share with the users the order is being delivered</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location is captured to share with the users the order is being delivered</string>
	<key>NSLocationUsageDescription</key>
	<string>Location is used to assign you orders based on location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location is used to assign you orders based on location</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Images required for profile and support purpose</string>
	<key>NSUserTrackingUsageDescription</key>
    <string>Your phone number will be used to create your account and maintain you unique Id among other users</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>com.google.maps.ios.API_KEY</key>
	<string>AIzaSyCsZ1wSI0CdaLU35oH4l4dhQrz7TjBSYTw</string>
</dict>
</plist>
